<div class="dashboard_list">
    <div class="dashboard_item"> 
        <div class="card_icon_1">
            <i class="fa fa-2x fa-home" aria-hidden="true"></i>
        </div>
        <label>Today's Employee</label>
    </div>
    <div class="dashboard_item">
        <div class="card_icon_2">
            <i class="fa fa-2x fa-user" aria-hidden="true"></i>
        </div>
        <label>Today's Employee</label>
    </div>
    <div class="dashboard_item">
        <div class="card_icon_3">
            <i class="fa fa-2x fa-user-o" aria-hidden="true"></i>
        </div>
        <label>New Employee</label>
    </div>
    <div class="dashboard_item">
        <div class="card_icon_4">
            <i class="fa fa-2x fa-book" aria-hidden="true"></i>
        </div>  
        <label>Employee Sales</label>
    </div>

</div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>