<div class="container-fluid">
    <div class="container">
        <div class="login">
            <form action="" [formGroup]="changePasswordForm" (ngSubmit)="submit()">
                <div class="logo">
                    <img style="width: 50%;" src="../../../assets/img/Change Password.png" />
                </div>
                <div class="login-text">
                   <h4>Change Password </h4>
                </div>
                <ng-container>
                    <div class="input-field">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="password">
                                    <input type="password" placeholder="Enter password"  formControlName="password" class="form-control" >
                                </div>
                            </div>
                            <div *ngIf="changePasswordForm.controls['password'].touched && changePasswordForm.controls['password'].invalid">
                                <div *ngIf="changePasswordForm.controls['password'].errors?.['required']" class="errorMsg">
                                    password is required
                                </div>
                                <!-- <div *ngIf="changePasswordForm.controls['password'].errors?.['pattern']" class="errorMsg">
                                    Please enter valid 6 characters minimum.
                                </div> -->
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="password">
                                    <input type="password" placeholder="Enter config password"  formControlName="confirmPassword" class="form-control" >
                                </div>
                            </div>
                            <div
                            *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].invalid">
                            <div *ngIf="changePasswordForm.controls['confirmPassword'].errors" class="errorMsg">
                                Password can not be Match
                            </div>
                        </div>
                        </div>
                    </div>        
                    <button [disabled]="changePasswordForm.invalid">Submit</button>
                </ng-container>
               
                <div class="register">
                    <span>All ready have an account? <h3 (click)="navigateToLogin()">Goto Login </h3></span>
                </div>
            </form>

          
        </div>
    </div>
</div>