.side-nav-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0px 20px;
    border-right: 1px solid #d9d9e2;
    width: '50px';
    max-width: 70px;
    
    i{
        color: #d9d9e2 ;
        font-size: 37px;
    }
}

.header-content{
    display:flex ;
    align-items: center;
    justify-content: space-between;

    .logout{
        margin-right: 20px;
        cursor: pointer;
        i{
            font-size: 37px;
        }
    }
}