
   <div class="container-fluid g-0">
   <div class="header-content">
    <div class="side-nav-button" (click)="singleClicked()">
        <!-- (singleClick)="singleHandler($event)" (doubledClick)="doubleHandler($event)" -->
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="logout_language_content">
        <div class="logout">
            <i class="fa fa-language nav-item dropdown" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                aria-hidden="true" ></i>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" (click)="languageChange($event.target)" >
                <a class="dropdown-item" value="en">{{'LANGUAGE.ENGLISH' | translate}}</a>
                <a class="dropdown-item" value="gu">{{'LANGUAGE.GUJRATI' | translate}}</a>
            </div>
        </div>
        <div class="logout">
            <i class="fa fa-user-circle-o nav-item dropdown" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                aria-hidden="true"></i>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item">Dashboard</a></li>
                <li><a class="dropdown-item">View Profile</a></li>
                <li><a class="dropdown-item" (click)="changepassword()" >Change Password</a></li>
                <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
   </div>
   </div>
