@import '../scss/_variable.scss';

@mixin dashboard_icon {
    background: linear-gradient(195deg,#42424a,#191919);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 20%;
    border-radius: 0.75rem;
    text-align: center;
    padding: 3%;
    margin-left: 3%;
    i{
        color: #fff;
    }
}