<button type="button" class="btn btn-primary m-2"
data-bs-toggle="modal" data-bs-target="#EmployeeDataAdd">
Add Employee
</button>
   
   
   <!-- Modal Employee -->
    <div class="modal fade" id="EmployeeDataAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!isEdit">Add Employee</h5>
                    <h5 class="modal-title" id="staticBackdropLabel" *ngIf="isEdit">Edit Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="employeeForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-12 companyInfo m-2">
                                    <label>First Name</label><span class="required">*</span>
                                    <input type="text" class="form-control" formControlName="firstname"
                                        placeholder="Enter First Name">
                                </div>
                                <div class="col-12 companyInfo m-2">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" formControlName="lastname"
                                        placeholder="Enter Last Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-12 companyInfo m-2">
                                    <label>Salary</label><span class="required">*</span>
                                    <input type="number" class="form-control" formControlName="salary"
                                        placeholder="Salary">
                                </div>
                                <div class="col-12 companyInfo m-2">
                                    <label>PhoneNo</label>
                                    <input type="number" class="form-control" formControlName="phonenumber"
                                        placeholder="PhoneNo">
                                </div>
                            </div>
                        </div>
                        <div class="add_button">
                            <button data-bs-dismiss="modal" aria-label="Close" *ngIf="!isEdit" type="submit"
                                (click)="submit()" [disabled]="employeeForm.invalid"
                                class="btn btn-secondary">Submit</button>
                            <button data-bs-dismiss="modal" aria-label="Close" *ngIf="isEdit" type="submit"
                                (click)="submit()" [disabled]="employeeForm.invalid"
                                class="btn btn-secondary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


